{% extends 'main.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'styles/searchanime.css' %}">

</head>
<body>
  <h3>First Responder Alert System</h3>
  {% if request.user.is_authenticated %}
  <div>
    <a href="{% url 'book_service' service_type='ambulance' %}"><p>Book an ambulane now</p></a>
    <a href="{% url 'book_service' service_type='fire_engine' %}"><p>Book a fire engine now</p></a>
    <a href="{% url 'book_service' service_type='police' %}"><p>Book a police</p></a>
  </div>  
  {% endif %}
  

  
</body>
{% endblock content %}
